@(boardSize: Int, players: List[snakes.model.playerComponent.PlayerInterface], currentPlayerName: String, rolledValue: Int)

@main("Snakes and Ladders - Game") {

    <div class="d-flex align-items-center">
        <div class="board-container justify-content-center">
            <div id="gameControls" class="controls mb-2">
                <button id="restartGameButton" class="btn btn-secondary">Exit</button>
                <button id="undoButton" class="btn btn-secondary">Undo</button>
            </div>

            <div id="playerList" class="controls d-flex justify-content-center align-items-center">
                <ul class="list-group list-group-horizontal">
                @for(player <- players) {
                    <li class="list-group-item" style="color: @player.getColor.toString">
                        @player.getName (@player.getPosition)
                    </li>
                }
                </ul>
            </div>

            <div id="board" class="board">
            @for(row <- (0 until boardSize).reverse) {
                <div class="board-row">
                @for(col <- 0 until boardSize) {
                    @field(if (row % 2 == 0) {
                        row * boardSize + (col + 1)
                    } else {
                        row * boardSize + (boardSize - col)
                    }, players, currentPlayerName)
                }
                </div>
            }
            </div>

            <div id="rollResult" class="controls d-flex justify-content-center align-items-center">
                <button id="rollDiceButton" class="btn btn-primary">Roll Dice</button>
                <p style="margin: 0">Rolled: @rolledValue</p>
            </div>
        </div>
    </div>
}
