@(boardSize: Int, players: List[snakes.model.playerComponent.PlayerInterface], currentPlayerName: String, rolledValue: Int)

@main("Snakes and Ladders - Game") {

    <div style="display: flex; align-items: center;">

        <div class="board-container" style="justify-content: center;">

            <div class="controls" style="margin-bottom: 20px;">
                <form action="@routes.SnakesAndLaddersController.undoLastStep()" method="get">
                    <button type="submit">Undo</button>
                </form>
                <form action="@routes.SnakesAndLaddersController.restartGame()" method="get">
                    <button type="submit">Restart</button>
                </form>
            </div>

            <!-- Generate the board dynamically -->
            @for(row <- (0 until boardSize).reverse) {  <!-- Start from the bottom row -->
                <div class="board-row">
                    @for(col <- 0 until boardSize) {
                        @field(if (row % 2 == 0) { // Left to right on even rows
                            row * boardSize + (col + 1)
                        } else {
                            row * boardSize + (boardSize - col)
                        }, players, currentPlayerName)
                    }
                </div>
            }

            <div class="controls" style="align-content: center; display: flex; align-items: center;">
                <form action="@routes.SnakesAndLaddersController.rollDice()" method="get">
                    <button type="submit">Roll Dice</button>
                </form>
                    <!-- Display the rolled result -->
                <p style="margin: 0">Rolled: @rolledValue</p>
            </div>
        </div>

        <!-- Player List -->
        <div class="player-list">
            <h2>Player List</h2>
            <ul>
                @for(player <- players) {
                    <li style="color: @player.getColor.toString">
                        @player.getName (Position: @player.getPosition)
                    </li>
                }
            </ul>
            <h3>Current Player: @currentPlayerName</h3>
        </div>
    </div>
}
