@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" class="h-100 w-100">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/game/fieldrow.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/game/controls.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/game/field.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/game/game.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/game/gamefield.css")">
    </head>
    <body class="h-100 w-100">
        @* And here's where we render the `Html` object containing
        * the page content. *@
        @content

        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
